* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left:  calc(50% - 590px);
    padding-right: calc(50% - 590px);
}

.title {
    background: #fff;
}

.goods-list {
    display: flex;
    gap: 30px;
    margin: 50px 0;
}

h2, p {
    margin: 20px 0;
}

.goods-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 2px solid #fff;
}

.goods-item:hover {
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
}

.addBtn {
    border-radius: 20px;
    background: rgb(211, 60, 5);
    color: #fff;
    padding: 5px 30px;
    border: none;
}

.addBtn:hover {
    cursor: pointer;
    background: #fff;
    color: rgb(211, 60, 5);
    border: 1px solid rgb(211, 60, 5);
}

.popUp {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(7, 7, 7, 0.4);
}

.popUp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 60%;
}

.popUp-form__btn {
    border-radius: 20px;
    background: rgb(211, 60, 5);
    color: #fff;
    padding: 5px 30px;
    border: none;
}

.popUp-form__btn:hover {
    cursor: pointer;
    background: #fff;
    color: rgb(211, 60, 5);
    border: 1px solid rgb(211, 60, 5);
}

.popUp-form__close {
    border-radius: 20px;
    background: rgb(211, 60, 5);
    color: #fff;
    padding: 5px 30px;
    border: none;
  }
  
  .popUp-form__close:hover,
  .popUp-form__close:focus {
    cursor: pointer;
    background: #fff;
    color: rgb(211, 60, 5);
    border: 1px solid rgb(211, 60, 5);
  }

  .userName, .userPhone, .userEmail {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-weight: bold;
  }

  input {
      margin: 5px 0;
      padding: 5px 5px;
  }